.centerCarousel {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.img-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-carousel img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
