.centerListaProdutos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.titleProdutos {
  font-size: 24px;
  font-family: FreeMono, monospace;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

#centerListaProdutos {
  margin: 40px 0;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
}
